/* Defaults */
body {
  height: 100%;
	background: #fff6f3;
  color: #000000;
  font-family: 'Baloo Bhaina 2', cursive;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 10%;
}

a {
  color: #000;
  transition: all .25s ease-in-out;
}

/* The title */
.title {
  font-weight: 700;
}

/* The description */
.desc {
  font-size: 1em;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
}

/* Text-centering */
.title,
.desc,
.intro {
  text-align: center;
}

/* Intro section */
.intro {
  margin: 1.75em 0 .75em;
  border-bottom: 3px double rgba(0, 0, 0, 0.05);
  margin-bottom: 1.75em;
}

.intro a {
  opacity: .7;
}

.intro a:hover {
  opacity: 1;
}

.intro h3 {
  font-size: .825em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin: .25em .75em .75em;
}

.intro h3 a {
  font-weight: 400;
}

/* Masonry grid */
.masonry {
  transition: all .5s ease-in-out;
  column-gap: 30px;
  column-fill: initial;
}

/* Masonry item */
.masonry .brick {
  margin-bottom: 30px;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden; /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
  opacity: .75;
}

/* Bordered masonry */
.masonry.bordered {
  column-gap: 50px;
}

.masonry.bordered .brick {
  margin-bottom: 25px;
  margin-bottom: 25px;
}

/* Gutterless masonry */
.masonry.gutterless {
  column-gap: 0;
}

.masonry.gutterless .brick {
  margin-bottom: 0;
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
  
}


/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 2;
  }
}

.title1 {
  font-size: 20px;
  font-weight: 900;
  font-family: 'Baloo Bhaina 2', cursive;
}

.title2 {
  font-size: 45px;
  font-weight: 500;
  font-family: 'Baloo Bhaina 2', cursive;
  margin-top: 1%;
}

.titlecielo {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Baloo Bhaina 2', cursive;
  line-height: normal;
}

.titlecielo2 {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  font-family: 'Baloo Bhaina 2', cursive;
  line-height: normal;
}

.titlecielop {
  text-align: left;
  font-size: 20px;
  font-family: 'Baloo Bhaina 2', cursive;
  line-height: normal;
}

.titlecieloh3 {
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Baloo Bhaina 2', cursive;
  line-height: normal;
}


.worktext-cielo {
  text-align: center;
  padding-top: 40px;
  font-family: 'Poppins', sans-serif;
  margin-top: 100px;
  line-height: normal;
  
}

.worktext2 {
  font-family: 'Poppins', sans-serif;
  margin-top: 25px;
  line-height: normal;
  
}

.worktext1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 3%;
  margin-right: 10%;
  line-height: normal;
}

.logo {
  width: 90px;
}


.imagen2 {
  width: 200px;
}

.nav-link {
  font-family: 'Baloo Bhaina 2', cursive;
  margin-top: 5%;
}

.imgback {
  
    width: 100px;
    position: absolute;
    margin-left: 40%;
    margin-top: -20px;
}

.imgback2 {
    width: 100px;
    position: absolute;
    margin-left: 0;
    margin-left: 8%;
    margin-top: 17%;
}
.imgback3 {
  
  width: 100px;
  position: absolute;
  margin-left: 40%;
  margin-top: -20px;
}

.imgback4 {
  width: 100px;
  position: absolute;
  margin-left: 0;
  margin-left: 80%;
  margin-top: 25%;
  position: absolute;
}

@media (max-width: 768px) and (max-width: 1025px) {
  .imgback, .imgback2 {
  visibility: hidden;
  }
  .nav-link {
    text-align: center;
  }
  
}

.footer-copyright {
  font-size: 13px;
}
.form {
  margin-top: 100px;
}

.fondo {
    width: 200px;
    margin-left: 70%;
    margin-top: 23%;
    position: absolute;
}

.side-section-title {
    background-color: #fff;
    padding: 26px 0;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    color: #080808;
    letter-spacing: .5px;
    -moz-box-shadow:    3px 3px 5px 6px #e3e3e3;
  -webkit-box-shadow: 1px 4px 5px 2px #e3e3e3;
  line-height: normal;
}

.card {
  border: none;
}

.square {
    height: 342px;
    width: 423px;
    background-color: #ffe8e1;
    margin-top: 26px;
    -moz-box-shadow:    3px 3px 5px 6px #e3e3e3;
  -webkit-box-shadow: 1px 4px 5px 2px #e3e3e3;
}

.div1 {
  margin-top: 15%;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 16%;
  padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
  
}

.row {
  justify-content: center;
  margin-top: 30px;
}

.footertitle {
  display: flex;
  justify-content: center;
  line-height: normal;
  margin-top: 50px;
}

.instatitle {
    margin: -25px 0px 0px 35px; 
    font-size: 26px;
    
}

.img-insta {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.fa-linkedin-in:hover {

  color: #eba792;
 }

.fa-instagram:hover {

 color: #eba792;
}

.fa-behance:hover {

  color: #eba792;
 }

 .fa-pinterest:hover {

  color: #eba792;
 }

 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link  {
  color: #eba792;
 }
 